<div class = "container">
<%= render 'shared/errors',obj: @user %>

<%= form_for @user do |f| %>
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :"First Name", for: "fname"%>
      <%= f.text_field :fname, class: "form-control", id: "fname", placeholder: "Ratan" %>
    </div>
    <div class="form-group col-md-6">
      <%= f.label :"Last Name", for: "lname"%>
      <%= f.text_field :lname, class: "form-control", id: "lname", placeholder: "Tata" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :"Date of Birth", for: "dob"%>
    <%= f.date_field :dob, class: "form-control", id: "dob", placeholder: "dd/mm/yyyy" %>
  </div>
  <div class="form-group">
    <%= f.label :"Contact Number", for: "phone"%>
    <%= f.number_field :phone, class: "form-control", id: "phone", placeholder: "9876543210" %>
  </div>
  <div class="form-group">
    <%= f.label :"Email", for: "email" %>
    <%= f.email_field :email, class: "form-control", id: "email", placeholder: "abcd@xyz.com" %>
  </div>
  <div class="form-group">
    <%= f.label :"Password", for: "pwd" %>
    <%= f.password_field :password, class: "form-control", id: "pwd" %>
  </div>
  <%= f.submit(@user.new_record? ? "Sign up": "Update your account", class: "btn btn-primary") %>
<% end %>
</div>