<div class="card offset-2" style="max-width: 600px;">
  <div class="row no-gutters ">
    <div class="col-md-6">
			<%= link_to gravatar_for(@user,size: 250),user_path(@user) %>
    </div>
    <div class="col-md-6">
      <div class="card-body my-auto align-items-center">
				<h1 class="card-title center justify-content-center" ><%= @user.fname %></h1>
				<p class="card-text  center justify-content-center">
          <small class = "text-muted">Contact :</small><small class = "text-muted"><%= @user.email %></small>
        </p>
        <p class="card-text  center justify-content-center">
          <small class = "text-muted">Phone No. :<%= @user.phone.to_i %></small>
        </p>
          <p class = "card-text center"><small class = "text-muted"> User has <%= pluralize(@user.articles.count,"article") %></small></p>
      </div>
    </div>
  </div>
</div>
<div class = "articles">
	<h3 class = "offset-2" > <%= @user.fname %>'s articles </h3>
</div>
<div class = " container pagination justify-content-center">
	<%= will_paginate @user_articles %>
</div>
<%= render 'articles/article',obj: @user.articles %>
<div class = " container pagination justify-content-center">
	<%= will_paginate @user_articles %>
</div>

