<% if @member.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <p>The following errors were encountered :</p>
    <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @member do |f| %>
	<div class="form-row">

		<div class="form-group col-md-6">
			<%= f.label :"Startup Name", for: "exstname"%>
			<%= f.text_field :ex_startup_name, class: "form-control", id: "exstname", placeholder: "Connect to Start"%>
		</div>

		<div class = "form-group col-sm-8">
			<p> Startup field: </p>
			<%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
				<%= cb.label{cb.check_box(class: "checkbox") + cb.text} %></br>
			<% end %>
		</div>

	</div>

	<div class="form-row col-md-6">
		<%= f.label :"Startup founded in (year)", for: "experience"%>
		<%= f.number_field :experience, class: "form-control", id: "experience", placeholder: "2" %>
	</div>
	<%= f.submit "Sign up", class: "btn btn-primary" %>
<% end %>
