<% obj.each do |member| %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <div class= "card-title h5">
        <%= member.user.fname.upcase%> <%=member.user.lname.upcase %>
      </div>
      <p><%#= member.description, class: "card-text" %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><%= member.ex_startup_name %></li>
      <li class="list-group-item"><%= member.ex_startup_field %></li>
      <li class="list-group-item"><%= member.user.email %></li>
      <li class="list-group-item"><%= member.user.phone %></li>
      <li class="list-group-item"><%= member.user.dob %></li>
    </ul>
<!--    <div class="card-body">-->
<!--      <a href="#" class="card-link">Card link</a>-->
<!--      <a href="#" class="card-link">Another link</a>-->
<!--    </div>-->
  </div>
<% end %>