<% obj.each do |member| %>
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      <div class= "card-title h5">
        <%= member.user.fname.upcase%> <%=member.user.lname.upcase %>
      </div>
    </div>
		<div class = "card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Ex-startup-name: <%= member.ex_startup_name %></li>
      <li class="list-group-item">Ex-startup-email: <%= member.user.email %></li>
      <li class="list-group-item">Ph No. <%= member.user.phone.to_i %></li>
    </ul>
		</div>
		<div class="card-footer">
			Fields of Experience
			<% member.categories.each do |category| %>
				<span class = "badge badge-info"><%= link_to category.name, category_path(category), class: "card-link", style: "color:white" %></span>
			<% end %>
			<br>
			<%= link_to 'Chat with user',talk_path(member.id),class: "badge badge-primary", style: "color:white" %><br>
			<%= link_to 'Show user profile',member_path(member) %>
		</div>
  </div>
<% end %>
