
<div class="card center" style="width: 30rem;">
	<div class = "card-header">
    <div class= "card-title ">
			<strong>
      	<%= @member.user.fname.upcase%> <%=@member.user.lname.upcase %>
			</strong>
		</div>
	</div>	
	<div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Startup-name: <%= @member.ex_startup_name %></li>
      <li class="list-group-item">Startup-email: <%= @member.user.email %></li>
      <li class="list-group-item">Phone No.: <%= @member.user.phone.to_i %></li>
    </ul>
	</div>
	<div class="card-footer">
			Startup Category<br>
			<% @member.categories.each do |category| %>
				<span class = "badge badge-info">
					<%= link_to category.name, category_path(category), class: "card-link", style: "color:white" %>
				</span>
			<% end %>
		<%= link_to 'Chat with startup',talk_path(@member.id),class: "badge badge-primary", style: "color:white" %>
  </div>
</div>
<div class="center">
<%= link_to "[ Back to Members listing ]",members_path %>
</div>