<blockquote class="blockquote text-center">
  <p class="mb-0">Welcome <%= @member.user.fname.upcase %></p>
</blockquote>
<div class="card " style="width: 18rem;">
	<div class = "card-header">
    <div class= "card-title h5">
      <%= @member.user.fname.upcase%> <%=@member.user.lname.upcase %>
    </div>
	</div>	
	<div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Ex-startup-name: <%= @member.ex_startup_name %></li>
      <li class="list-group-item">Ex-startup-email: <%= @member.user.email %></li>
      <li class="list-group-item">Ph No. <%= @member.user.phone.to_i %></li>
    </ul>
	</div>
	<div class="card-footer">
			Fields of experience
			<% @member.categories.each do |category| %>
				<span class = "badge badge-info"><%= link_to category.name, category_path(category), class: "card-link", style: "color:white" %></span>
			<% end %>
			<br>
		<%= link_to 'Chat with member',talk_path(@member.id),class: "badge badge-primary", style: "color:white" %>
		<% if logged_in_user? && @member.user == current_user %>
			<%= link_to 'Edit Your Profile', edit_member_path(@member), class: "badge badge-primary" %>
		<% end %>
  </div>
</div>
<%= link_to "[ back to members lists ]",members_path %>
