<% if @mentor.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <p>The following errors were encountered :</p>
    <ul>
      <% @mentor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @mentor do |f| %>
 
  <div class="form-group col-md-6">
      <%= f.label :"Field of mentorship", for: "field"%>
      <%= f.text_field :field, class: "form-control", id: "field", placeholder: "AI/ML" %>
    </div>
  <div class="form-group col-md-6">
    <%= f.label :"Experience of mentorship(in years)", for: "experience"%>
    <%= f.number_field :experience, class: "form-control", id: "experience", placeholder: "2" %>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>
  <%= f.submit "Sign up", class: "btn btn-primary" %>
<% end %>
