<div class="card center" style="width: 30rem;">
	<div class = "card-header">
		<div class= "card-title" >
			<strong>
				<%= @mentor.user.fname.upcase%> <%= @mentor.user.lname.upcase %>
			</strong>
		</div>
	</div>
	<div class="card-body">
		<ul class="list-group list-group-flush">
			<li class="list-group-item"> Email: <%= @mentor.user.email %></li>
			<li class="list-group-item"> Phone: <%= @mentor.user.phone.to_i %></li>
		</ul>
	</div>
	<div class="card-footer">
		Fields of Interests
		<% @mentor.categories.each do |category| %>
			<span class = "badge badge-info"><%= link_to category.name, category_path(category), class: "card-link", style: "color:white" %></span>
		<% end %><br>
		<%= link_to 'Chat with mentor', talk_path(@mentor.id),class: "badge badge-primary", style: "color:white" %><br>
		<% if logged_in_user? && @mentor.user == current_user %>
			<%= link_to 'Edit Your Profile', edit_mentor_path(@mentor), class: "badge badge-primary" %>
		<% end %>
	</div>
</div><br>
<div class="text-center">
<%= link_to "[ Back to Mentors listing ]",mentors_path %>
</div>