<h1>
  <%= @room.name %>
</h1>

<div class="row">
  <div class="col-12 col-md-3">
    <%= render partial: 'rooms' %>
  </div>

  <div class="col"  style="width: 40%;">
    <div class="chat" id="messages_all" data-channel-subscribe="room" data-room-id="<%= @room.id %>">
      <% @room_messages.each do |room_message| %>
      <div class="chat-message-container">
        <div class="row no-gutters">
          <div class="col">
            <div class="message-content row">
              <div class="col">
                <div class="text-left" style="padding-left: 10px;padding-top: 5px">
                  <%= room_message.message%>
                </div>
              </div>
              <div class="col text-right" >
                <small>
                  <%= room_message.created_at %>
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <%= form_with model: @message, remote: true, id: "form_enter"  do |form| %>
      <div class="input-group mb-3">
        <%= form.text_field :message, class: 'chat-input', id: "input_msg"%>
        <div class="input-group-append">
          <%= form.submit "Send", class: 'btn btn-primary chat-input', id: "button" %>
        </div>
      </div>

      <%= form.number_field :room_id, class:"invisible" %>
    <% end %>
  </div>
</div>
<div class="d-none" data-role="message-template">
  <div class="chat-message-container">
    <div class="row no-gutters">
      <div class="col">
        <div class="message-content row">
          <div class="col">
            <div class="text-left" style="padding-left: 10px;padding-top: 5px" data-role="message-text">
            </div>
          </div>
          <div class="col text-right" >
            <small data-role="message-date">
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>