<h1>
  <%= @room.name %>
</h1>

<div class="row">
  <div class="col-12 col-md-3">
    <%= render partial: 'rooms' %>
  </div>

  <div class="col">
    <div class="chat">
      <% @room_messages.each do |room_message| %>
        <%= room_message %>
      <% end %>
    </div>

    <%= form_for(@room_message, remote: true) do |form| %>
      <div class="input-group mb-3">
        <%= form.text_field :message,
                       wrapper: false,
                       label: false,
                       input_html: {
                           class: 'chat-input'
                       } %>
        <div class="input-group-append">
          <%= form.submit "Send", class: 'btn btn-primary chat-input' %>
        </div>
      </div>

      <%= form.number_field :room_id, class:"invisible" %>
    <% end %>
  </div>
</div>