<% if @startup.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <p>The following errors were encountered :</p>
    <ul>
      <% @startup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @startup do |f| %>
  <div class="form-group">
    <%= f.label :"Startup Name", for: "orgname"%>
    <%= f.text_field :org_name, class: "form-control", id: "orgname", placeholder: "Connect to Start" %>
  </div>
  <div class="form-group">
    <%= f.label :"Email", for: "email" %>
    <%= f.email_field :org_email, class: "form-control", id: "email", placeholder: "abcd@xyz.com" %>
  </div>
  <div class="form-group col-md-6">
    <%= f.label :"Person of Contact", for: "contact_name"%>
    <%= f.text_field :contact_name, class: "form-control", id: "contact_name", placeholder: "Hardik Upadhyay" %>
  </div>
  <div class="form-group">
    <%= f.label :"Contact Number", for: "phone"%>
    <%= f.numeric_field :phone, class: "form-control", id: "phone", placeholder: "9876543210" %>
  </div>
  <div class="form-group">
    <%= f.label :"Employees", for: "emp"%>
    <%= f.numeric_field :cur_emps, class: "form-control", id: "emp", placeholder: "27" %>
  </div>
  <div class="form-group">
  <%= f.label :"Startup Description", for: "desc"%>
  <%= f.text_area :description, class: "form-control", id: "desc", placeholder: "Write about your Idea/Breakthrough/..." %>
</div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>
  <%= f.submit "Sign up", class: "btn btn-primary" %>
<% end %>
