<% if @investor.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <p>The following errors were encountered :</p>
    <ul>
      <% @investor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @investor do |f| %>
  <div class="form-group col-md-6">
    <%= f.label :"Experience of investing(in years)", for: "experience"%>
    <%= f.number_field :experience, class: "form-control", id: "experience", placeholder: "2" %>
	</div>
	<div class = "form-group col-md-6">
	<p> Fields of Interest: </p>
   <div class = "col-sm-8">
      <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
				<%= cb.label{cb.check_box(class: "checkbox") + cb.text} %></br>
      <% end %>
	 </div>
	</div>
	 <div>
		 <%= f.submit "Sign up", class: "btn btn-primary" %>
	 </div>
<% end %>


