<% if @investor.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <p>The following errors were encountered :</p>
    <ul>
      <% @investor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @investor do |f| %>
    <div class="form-group col-md-6">
      <%= f.label :"Field of investment", for: "field"%>
      <%= f.text_field :field, class: "form-control", id: "field", placeholder: "AI/ML" %>
    </div>
  <div class="form-group col-md-6">
    <%= f.label :"Experience of investing(in years)", for: "experience"%>
    <%= f.number_field :experience, class: "form-control", id: "experience", placeholder: "2" %>
  </div>
  <%= f.submit "Sign up", class: "btn btn-primary" %>
<% end %>


