<div class="card center" style="width: 30rem;">
	<div class = "card-header">
		<div class= "card-title">
			<strong>
			<%= @investor.user.fname.upcase%> <%= @investor.user.lname.upcase %>
		</strong>
		</div>
	</div>
	<div class="card-body">
		<ul class="list-group list-group-flush">
			<li class="list-group-item"> Email: <%= @investor.user.email %></li>
			<li class="list-group-item"> Phone:  <%= @investor.user.phone.to_i %></li>
		</ul>
	</div>
	<div class="card-footer">
		Fields of Interests
		<% @investor.categories.each do |category| %>
			<span class = "badge badge-info">
				<%= link_to category.name, category_path(category), class: "card-link", style: "color:white" %>
			</span>
		<% end %><br>
		<%= link_to 'Chat with investor', talk_path(@investor.id),class: "badge badge-primary", style: "color:white" %><br>
		<% if logged_in_user? && @investor.user == current_user %>
			<%= link_to 'Edit Your Profile', investor_path(@investor.id), class: "btn btn-md btn-primary" %>
		<% end %>
	</div>
</div>
<br>
<div class="text-center">
<%= link_to "[ Back to Investors listing ]",investors_path %>
</div>