<!DOCTYPE html>
<html lang="en">
<head>
	<title>Startup</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
	<%= javascript_include_tag 'cable', 'data-turbolinks-track': 'reload' %>
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="stylesheet" href="/all.css">
    <link rel="canonical" href="/simplest-startup-starter/">
    <link rel="alternate" type="application/rss+xml" title="Simplest Start-up Starter" href="/simplest-startup-starter/feed.xml">	
</head>
<body class="d-flex flex-column sticky-footer-wrapper">
	<div id="page-content">
		<%= render 'layouts/navigation' %>
		<%= render 'layouts/messages' %>
		<div class="flex-fill container" >
			<%= yield %>
		</div>
	</div>
	<script src="https://kit.fontawesome.com/2a10ab39d6.js"></script>
	<footer class="sticky-footer">
		<%= render 'layouts/footer' %>
	</footer>
	<%= debug(params) if Rails.env.development? %>
</body>
</html>
